:root {
    --accent-bg-color: #f4ede4;
	--title-color: #000;
	--contrast-color: #FFF;
    --text-color: #1d1d1d;
    --text-light-color: #696969;
    --text-secondary-color: #1264a3;
    --primary-color: #400d40;
    --primary-color-dark: #4a154b;

	--container-width: 95%;
}

body {
	background-color: var(--bg-color);
}

.container {
	width: var(--container-width);
	margin: 0 auto;
}
